doctype html
html
    head
        title Atención Médica
        link(rel="stylesheet" href="/css/agenda.css")
    body
        nav.navbar
            ul
                li
                    a(href="/agenda") Agenda
                li
                    a(href="/pacientes") Pacientes
                li
                    a(href="/configuracion") Configuración
                li
                    a(href="/usuario/logout") Cerrar Sesión

        form(action="/agenda/fecha" method="POST")
            .fecha-container
                label(for="fecha") Fecha:  
                input(type="date" name="fecha" id="fecha" value=fechaSeleccionada)
                button(type="submit") Buscar Turnos 
        table.turnos
                thead
                    tr
                        th Hora
                        th Paciente
                        th Motivo
                        th Estado
                        th Acción
                tbody
                    each turno in turnos
                        tr
                            td #{turno.hora}
                            td #{turno.nombre}
                            td #{turno.motivo}
                            td #{turno.estado}
                            td
                                form(action="/consulta" method="POST")
                                    input(type="hidden" name="id_paciente" value=turno.id_paciente)
                                    input(type="hidden" name="id_turno" value=turno.id_turno)
                                    button(type="submit") Iniciar Consulta    

        script(src="/js/main.js")
    </body>
