.row.mt-4
    .col-md-12
        h4 Historias Clinicas Pasadas
        table.table.table-sm
            thead
                tr
                    th(scope='col') Medico
                    th(scope='col') Fecha
                    th(scope='col') Motivo Consulta
                    th(scope='col') Diagnosticos
            tbody
                each hc in historiaClinica
                    tr
                        td #{hc.apellido} #{hc.nombre}
                        td #{hc.fecha.toISOString().split('T')[0]}
                        td #{hc.motivo_consulta}
                        td
                            each diagnostico in hc.diagnosticos
                                p
                                    | #{diagnostico.descripcion} - #{diagnostico.tipo}
        strong Nota: Los detalles completos de las atenciones están restringidos a los profesionales que las registraron.             
        hr
