doctype html
html
    head
        title Atención Médica
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        style.
            body {
                background-color: #f7f8fa;
                font-family: 'Roboto', sans-serif;
            }
            nav {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
            table {
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                overflow: hidden;
            }
            table th, table td {
                text-align: center;
            }
            button.btn-primary {
                background-color: #007bff;
                border: none;
                transition: background-color 0.3s ease;
            }
            button.btn-primary:hover {
                background-color: #0056b3;
            }
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container
                a.navbar-brand(href="/agenda") Atención Médica

                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon

                .collapse.navbar-collapse#navbarNav
                    ul.navbar-nav.mx-auto
                        li.nav-item
                            a.nav-link(href="/agenda") Agenda
                        li.nav-item
                            a.nav-link(href="/paciente") Pacientes

                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href="/usuario/logout") Cerrar Sesión

        .container.mt-4
            .d-flex.justify-content-center
                form(action="/paciente/dni" method="POST" class="form-inline")
                    .form-group.mb-2
                        input.form-control(type="text" name="dni" id="dni" placeholder="Ingrese el dni del paciente")
                    button.btn.btn-primary.mb-2.ml-2(type="submit") Buscar
        
        .container.mt-4
            table.table.table-striped
                thead.thead-dark
                    tr
                        th Medico
                        th Fecha Consulta
                        th Motivo Consulta 
                        th Diagnostico
                        th Ver Mas
                tbody
                    each paciente in pacientes
                        tr
                            td #{paciente.nombre} #{paciente.apellido}
                            td #{paciente.fecha.toISOString().split('T')[0]}
                            td #{paciente.motivo_consulta}
                            td 
                                each diagnostico in paciente.diagnosticos
                                    p #{diagnostico.descripcion} - #{diagnostico.tipo}
                            td
                                if paciente.id_profesional === id_profesional
                                    form(action="/historiaClinica" method="POST")
                                        input(type="hidden" name="id_historia_clinica" value=paciente.id_historia_clinica)
                                        button.btn.btn-primary(type="submit") +
                                else
                                    button.btn.btn-primary(type="submit" disabled) +
            strong Nota: Los detalles completos de las atenciones están restringidos a los profesionales que las registraron.  
        
        


        